/* dark-orange (principale):
Pulsanti di chiamata all'azione, icone e elementi che necessitano di risalto.

light-orange:
Sfondi di sezioni o hover sugli elementi interattivi.

oak:
Testi di dettagli minori.

black:
Usalo per il testo principale e il contenuto.

light-grey:
Utilizzato come colore di sfondo o per testi secondari.

white:
Sondi e spazi vuoti, per dare respiro alla pagina.

Consigli di utilizzo:
Sfondo: Usa un grigio molto chiaro o bianco per mantenere leggibilità e contrasto con il testo.
Testi: Utilizza il nero o il marrone scuro per il testo principale.
Elementi di risalto: Usa l'arancione scuro o l'arancione chiaro per i pulsanti e gli altri elementi interattivi.
 */

.dark-orange {
  background-color: #D35400;
}

.light-orange {
  background-color: #E67E22;
}

<<<<<<< HEAD

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
=======
.oak {
  color: #8C4D00;
>>>>>>> 6f44fcb6cf8732448873a74f05c746ec3b65b4eb
}

.black {
  color: #2C3E50;
}

.light-grey {
  color: #BDC3C7;
}

<<<<<<< HEAD
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
=======
.white {
  background-color: #FFFFFF;
>>>>>>> 6f44fcb6cf8732448873a74f05c746ec3b65b4eb
}